//****************************
// Magnific-popup edits
//****************************
img.mfp-img {
  max-width: 80%;
}

.mfp-figure:after {
  display: none;
}

.mfp-title {
  font-family: sans-serif;
  margin-top: 30px;
  text-align: center;
}

.mfp-bg {
  background: $mfp-background;
  opacity: 0.95;
  height: 100%;
}

.mfp-counter {
  display: none;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: default;
}

.mfp-bottom-bar {
  padding-top: 30px;
}

.mfp-title {
  color: $text-color;
  margin: 0 auto;
  max-width: 60%;
  padding-right: 0;
  text-align: center;
}
