// **************************************
// search field
// **************************************
.search-field {
  border: solid 1px $search-border;
  border-radius: 3px;
  margin: 25px 0;
  padding: 10px 20px 10px 10px;
  width: 45%;
}
