//****************************
//Base Styles
//****************************

* {
  box-sizing: border-box;
}

body {
  @include center;
}

ul {
  list-style-type: none;
  margin: auto 0;
}

h1 {
  color: blue;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
